* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.todo-container {
    background: white;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.input-section {
    display: flex;
    gap: 10px;
}

#taskInput {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

#addTaskBtn {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

#addTaskBtn:hover {
    background: #1d4ed8;
}

#taskList {
    list-style: none;
    margin-top: 20px;
}

#taskList li {
    background: #f8fafc;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
}
#taskList li {
    display: flex;
    align-items: center;
    gap: 8px;
}

#taskList li span {
    flex: 1;
}

#taskList button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}